body,
html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}


nav {
  padding: 0px;
  overflow: hidden;
  width: 100%;
  background-color: black;
}

nav ul {
  margin: 0px;
  list-style-type: none;
  overflow: hidden;
  background-color: transparent;
  text-align: right;
  width: 100%;
  padding-inline-start: 0px
}

nav li {
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  margin-inline-end: 53px;
}

.link {
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: 'Lexend', 'Cormorant Garamond', serif;
  font-size: 18px;
}




h1 {
  color: blue;
}

h3 {
  text-align: center;
  color: pink;
}



.flexcontainer {
  flex-direction: column;

}


.link1 {
  color: greenyellow;
}

.link2 {
  color: orange;
}

#info-cont {
  display: flex;
  height: 100px;
  width: 100%;
  text-align: center;
  background-color: black;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#Title-cont {
  font-size: 35px;

}


#info-cont a {
  color: white;
  text-decoration: underline;
  padding: 10px;
  font-family: 'Lexend', 'Cormorant Garamond', serif;
  font-size: 18px;
}